
{% extends "base.html" %}
{% block main %}
    <div class="row" align="center">
        <div class="large-6 columns">
            <form action="/submit" method="post">
                <fieldset>
                    <div class="row">
                        <div class="large-11 columns">
                            <input type="text" placeholder="Line 1 of your Haiku (5 syllables)" name="line1" id="line1" onblur="validateName(name, 5)"/>
                        </div>
                        <div class="small-1 columns">
                          <label for="line1" id="line1Syllables" class="right inline"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-11 columns">
                            <input type="text" placeholder="Line 2 of your Haiku (7 syllables)" name="line2" id="line2" onblur="validateName(name, 7)"/>
                        </div>
                        <div class="small-1 columns">
                          <label for="right-label" id="line2Syllables" class="right inline"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-11 columns">
                            <input type="text" placeholder="Line 3 of your Haiku (5 syllables)" name="line3" id="line3" onblur="validateName(name, 5)"/>
                        </div>
                        <div class="small-1 columns">
                          <label for="right-label" id="line3Syllables" class="right inline"></label>
                        </div>
                    </div>
                    <input type="submit" class="button" id="submit" name="submit" value="Publish" />
                    <div class="row">
                        <div class="large 11 columns">
                            <span id="InputError" style="display: none;">Only letters are allowed</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Optional Information</legend>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" placeholder="Enter your name" name="author" id="author"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" placeholder="Title your Haiku" name="title" id="title"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="large-6 columns">
            <span>
            <h2 class="subheader" align="right">
                <ul class="no-bullet">
                    <li>Publish your Haiku</li>
                    <li>Share the link</li>
                </ul>
            </h2>
            </span>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
  <script>
  function validateName(x, numSyl) {
    //var re = /[a-zA-Z]$/;
    //if (! re.test(document.getElementById(x).value)) {
    //    document.getElementById(x).style.background = '#e35152';
    //    document.getElementById('InputError').style.display = "block";
    //    return false;
    //}
    
    var textval = document.getElementById(x).value;
    var words = textval.split(" ");
    var countSyl = 0;
    for (var i = 0; i < words.length; i++) {
        countSyl += new_count(words[i]);
    }
    if (countSyl == numSyl) {
        document.getElementById(x).style.background = '#ccffcc';
        document.getElementById(x + 'Syllables').innerHTML = countSyl + "/" + numSyl;
        return true;
    } else {
        document.getElementById(x).style.background = '#e35152';
        document.getElementById(x + 'Syllables').innerHTML = countSyl + "/" + numSyl;
        return false;
    }
}

function new_count(word) {
    word = word.toLowerCase(); //word.downcase!
    if (word.length <= 3) {
        return 1;
    } //return 1 if word.length <= 3
    word = word.replace(/(?:[^laeiouy]es|ed|[^laeiouy]e)$/, ''); //word.sub!(/(?:[^laeiouy]es|ed|[^laeiouy]e)$/, '')
    word = word.replace(/^y/, ''); //word.sub!(/^y/, '')
    return word.match(/[aeiouy]{1,2}/g).length; //word.scan(/[aeiouy]{1,2}/).size
}

  </script>
{% endblock %}
