{% extends "base.html" %}
{% block main %}
    {% for line in ["line1", "line2", "line3"] %}
    	<div class="row" align="center">
    		<div class="large-12 columns">
    			<span><h2 class="subheader">{{haiku[line]}}</h2>
    			</span>
    		</div>
    	</div>
    {% endfor %}
    {% if haiku["title"] is not none and haiku["author"] is not none %}
	    <div class="row" align="right">
	    	<div class="large-4 columns">
	    		<!-- placeholder -->
	    	</div>
	    	<div class="large-4 columns">
	    		<!-- placeholder -->
	    	</div>
			<div class="large-4 columns">
					<span><i>
						<p class="subheader">{{haiku["title"]}} by {{haiku["author"]}}</p>
					</i>
					</span>
			</div>
	    </div>
	{% endif %}
{% endblock %}
